header {

 	@include wrapper();
 	@include middle();
	height: 15vh;
 	
 	clear: both;

 	#logo {
 		@include col-2();
 		font-weight: bold;
 		a {
 			border: none;
 		}
 	}

 	nav[role="navigation"] {
 		@include col-10();
 		ul {
 			float: right;
 			li {
 				float: right;
 				margin-left: fnGetSpacing(50);
 				a {
 					
 					font-size: 80%;
 				}
 			}
 		}
 	}
 }

 #hero {
	@include wrapper();
	@include middle();
	height: 70vh;
 	div {
		max-width: 700px;
	 	text-align: left;
	 	h1 {
	 		@include animate();
	 		@include fadeInLeft();
	 		font-size: 340%;
	 	}
	 	h2 {
	 		font-weight: 300;
	 		font-size: 240%;
	 		@include animate();
	 		@include fadeInLeft();
	 		animation-delay: 300ms;
	 	}
	 	h4 {
	 		font-weight: bold;
	 		font-size: 120%;
	 	}
	 	a {
	 		@include animate();
	 		@include fadeInLeft();
	 		margin-top: fnGetSpacing(25);
	 		animation-delay: 600ms;float: left;
	 		clear: both;
	 		border: 1px solid #999;
	 		padding: fnGetSpacing(50);
	 		border-radius: 3px;
	 		&:hover {
	 			background: #000;
	 			color: #fff;
	 			border: #000;
	 		}
	 	}	
 	}
}

main {
	@include animate();
	@include fadeInUp();

	max-width: 700px;

	margin: fnGetSpacing(200) auto 0 auto;
	#title {
		margin-bottom: fnGetSpacing(50);
	}
}