
/* ==========================================================================
   The Layout - Go nuts
   ========================================================================== */

#wrapper {
	
	@include layout(center, top, normal, 1col, 0rem, 2rem, 1.5rem);
	
	header {
		@include nav(right, right, 0 0.5rem, 0, none);
		margin-bottom: 2rem;
		width: 100%;
		#logo {
			float: left;
			a {
				font-weight: bold;
				border: none;
			}
		}
		nav {
			float: right;
		}
	}

	main {
		section {
			background: rgba(0, 0, 0, 0.025);
			@include layout(center, top, normal, full-one-fifth, 1.5rem, 1rem, 0rem);
		}
	}

	footer {
		margin-top: 1rem;
		padding-top: 1rem;
		border-top: 1px solid #e3e3e3;
		width: 100%;
		p#footer-logo {
			font-weight: bold;
		}
	}
}


