

@keyframes special {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
  0% {opacity: 0;
  			border-top: 1px solid #fff;
			border-right: 1px solid #fff;}
  33% {opacity: 0.5;
  			border-top: 1px solid #d4d4d4;
			border-right: 1px solid #d4d4d4;
		}
  66% {opacity: 0;
  			border-top: 1px solid #fff;
			border-right: 1px solid #fff;}
  50% {opacity: 1;
  			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
		}
}

.fadeIn {
  animation-name: fadeIn;
}

#thegrid {
	DISPLAY: NONE;
	@include absolute(0px, auto, auto, 0px);
	height: 100vh;
	width: 100%;
	background: #fff;
	section {
		.letter {
			background: #999;
		}
		background: #fff;
		float: left;
		height: 100vh;
	  	animation-duration: 3s;
		animation-fill-mode: both;
		animation-name: fadeIn;
		&:nth-child(1) {
  			animation-delay: 200ms * 0.1;
  		}
		&:nth-child(2) {
  			animation-delay: 400ms * 0.1;
  		}
		&:nth-child(3) {
  			animation-delay: 600ms * 0.1;
  		}
		&:nth-child(4) {
  			animation-delay: 800ms * 0.1;
  		}
		&:nth-child(5) {
  			animation-delay: 1s * 0.1;
  		}
		&:nth-child(6) {
  			animation-delay: 1.2s * 0.1;
  		}
  		&:nth-child(7) {
  			animation-delay: 1.4s * 0.1;
  		}
		&:nth-child(8) {
  			animation-delay: 1.6s * 0.1;
  		}
		&:nth-child(9) {
  			animation-delay: 1.8s * 0.1;
  		}
		&:nth-child(10) {
  			animation-delay: 2s * 0.1;
  		}
		&:nth-child(11) {
  			animation-delay: 2.2s * 0.1;
  		}
		&:nth-child(12) {
  			animation-delay: 2.4s * 0.1;
  		}
		&:nth-child(13) {
  			animation-delay: 2.6s * 0.1;
  		}
		&:nth-child(14) {
  			animation-delay: 2.8s * 0.1;
  		}
		&:nth-child(15) {
  			animation-delay: 3s * 0.1;
  		}
		&:nth-child(16) {
  			animation-delay: 3.2s * 0.1;
  		}
		&:nth-child(17) {
  			animation-delay: 3.4s * 0.1;
  		}
		&:nth-child(18) {
  			animation-delay: 3.6s * 0.1;
  		}
		&:nth-child(19) {
  			animation-delay: 3.8s * 0.1;
  		}
		div {
			z-index: 9999!important;
		  	animation-duration: 2s;
			animation-fill-mode: both;
			animation-name: fadeIn;
		  	/*animation-duration: 1s;
			animation-fill-mode: both;*/
			height: 3rem;
			width: 3rem;
			display: block;
			transition: 200ms all ease;
			border-top: 1px solid #fff;
			border-right: 1px solid #fff;
			&:hover {
				border-top: 1px solid #999;
				border-right: 1px solid #999;
				box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
				transition: 200ms all ease;
				z-index: 9999;
			}
			&:first-child {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(2) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(3) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(4) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(5) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(6) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(7) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(8) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(9) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(10) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(11) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(12) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(13) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(14) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}



			&:nth-child(15) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}

			&:nth-child(16) {
				&:nth-child(1n+1) {
		  			animation-delay: 200ms * 0.2;
		  		}
				&:nth-child(2n+2) {
		  			animation-delay: 400ms * 0.2;
		  		}
				&:nth-child(3n+3) {
		  			animation-delay: 600ms * 0.2;
		  		}
				&:nth-child(4n+4) {
		  			animation-delay: 800ms * 0.2;
		  		}
				&:nth-child(5n+5) {
		  			animation-delay: 1s * 0.2;
		  		}
				&:nth-child(6n+6) {
		  			animation-delay: 1.2s * 0.2;
		  		}
		  		&:nth-child(7n+7) {
		  			animation-delay: 1.4s * 0.2;
		  		}
				&:nth-child(8n+8) {
		  			animation-delay: 1.6s * 0.2;
		  		}
				&:nth-child(9n+9) {
		  			animation-delay: 1.8s * 0.2;
		  		}
				&:nth-child(10n+10) {
		  			animation-delay: 2s * 0.2;
		  		}
				&:nth-child(11n+11) {
		  			animation-delay: 2.2s * 0.2;
		  		}
				&:nth-child(12n+12) {
		  			animation-delay: 2.4s * 0.2;
		  		}
				&:nth-child(13n+13) {
		  			animation-delay: 2.6s * 0.2;
		  		}
				&:nth-child(14n+14) {
		  			animation-delay: 2.8s * 0.2;
		  		}
				&:nth-child(15n+19) {
		  			animation-delay: 3s * 0.2;
		  		}
				&:nth-child(16n+19) {
		  			animation-delay: 3.2s * 0.2;
		  		}
			}
  		}
	}
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  100% {
    transform: perspective(400px);
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

#hero {
	@include layout(center, center, normal, auto, 0, 0, auto, 0);
	width: 100%;
	height: 100vh;
	text-align: center;
	background: transparent;

	div {
		text-align: center!important;
		h1 {
			@extend .animated;
			@extend .flipInX;
			animation-duration: 2s;
			text-transform: uppercase;
			font-family: 'Josefin Sans', sans-serif!important;
			font-weight: 100;
			text-align: center;
			font-size: 2rem!important;
			letter-spacing: 2rem!important;
			line-height: 3rem;
			color: #000;
			&:before {
				border-top: 1px solid #e3e3e3;
				width: 100px;
				position: relative;
				top: -20px;
			}
		}
		h2 {
			@extend .animated;
			animation-name: fadein;
			font-family: 'Josefin Sans', sans-serif!important;
			animation-duration: 2s;
			animation-delay: 2s;
			text-align: center;
			font-size: 0.8em;
			line-height: 0.8em;
			font-weight: 300;
			text-transform: uppercase;	
			color: #000;
			letter-spacing: 0.45rem;
		}
		a {
			text-align: center!important;
			float: left;
			margin: auto;
			font-size: 0.8em;
			line-height: 0.8em;
			font-weight: 300;
			text-transform: uppercase;	
			color: #000;
			letter-spacing: 0.45rem;
			display: none;
		}
	}
}

#wrapper {
	main {
		@include layout(center, top, normal, full-one-fifth, 2rem, 2rem, 80rem, 1rem);
		section#first-example {
			@include layout(center, top, normal, full-3col, 1rem, 0rem, 0, 1rem);
			div {
				background: #eee;
				div {
					background: #e3e3e3;
				}
			}
		}
	}
}

#test {
	@include layout(center, center, normal, 1col, 1rem, 1rem, 50rem, 0rem);
	#grid-1 {
		@include layout(center, center, normal, full-fourth-one, 1rem, 1rem, 50rem, 0rem);	
		background: blue;
		div:first-child {
			div {
			background: red;
			}
		}
		div:last-child {
			div {
			background: green;
			}
		}
	}
}

/*
#hero {
 	@include layout(center, center, normal, none, 0rem, 0, auto, 0rem);
 	text-align: center;
	height: 100vh;
 	
 	div {
 		max-width: 500px;
 		h1 {
 			margin-bottom: 2rem;
 			font-size: 800%;
 		}
 		h2 {
 			margin-top: 1rem;
 			margin-bottom: 0.5rem;
 			font-size: 160%;
 			letter-spacing: 0;
 			line-height: 1.8rem;
 		}
 		.button {
 			padding: 1rem 8rem;
 			font-weight: bold;
 		}
 		p {
 			margin-top: 0rem;
 			span, a {
 				margin: 0 0.3rem;
 			}
 		}
 	}
}

/*

#demo.wrapper {
	@include layout(center, center, normal, none, 0rem, 0, 50rem, 2rem);
	height: 100vh;
	background: red;
	main {
		width: 100%;
		article {
			@include layout(center, center, normal, 2col, 0, 0, none, 5rem);
			text-align: center;
			div {
				background: green;
			}
		}
	}
}

pre {
	padding: 1rem;
	color: #fff;
	&.snippet:before, &.scss:before, &.html:before {
		content: "Snippet";
		float: left;
		position: absolute;
		display: block;
		margin-top: -0.5rem;
		margin-left: -6rem;
		padding: 0.5rem 1rem;
		background: #e3e3e3;
		color: #000;
		z-index: -999;
		width: 5.5rem;
		text-align: right;
	}
	&.scss:before {
		content: "SCSS";
	}
	&.html:before {
		content: "HTML";
	}
}
*/



