
/* ==========================================================================
   The Layout
   ========================================================================== */

#wrapper {
	
	max-width: 60rem;
	margin: auto;
	padding: 0 1rem;

	header {
		@include nav(right, right, 0 0.5rem, 0, none);
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 100%;
		#logo {
			float: left;
			a {
				font-weight: bold;
				border: none;
			}
		}
		nav {
			float: right;
		}
	}

	main {
		margin-top: 2rem;
		margin-bottom: 5rem;
		float: left;
	}

	footer {
		margin-top: 1rem;
		margin-bottom: 5rem;
		padding-top: 1rem;
		border-top: 1px solid #e3e3e3;
		width: 100%;
		overflow: auto;	
	}
}


