

/* ==========================================================================
   The Mixins - The place where we store all those awesome snippets
   ========================================================================== */

// horisontal navigation
@mixin nav($nav-float, $nav-direction, $nav-margin, $nav-padding, $nav-background){
  text-align: center;
  float: $nav-float;
  ul {
    float: $nav-float;
    background: $nav-background;
    li {
      float: $nav-direction;
      margin: $nav-margin;
      padding: $nav-padding;
      display: inline-block;
      text-align: -webkit-match-parent;
      @if $nav-background == none and $nav-direction == left {
        &:first-child {
          margin-left: 0;
          padding-left: 0;
        }
        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
      @if $nav-background == none and $nav-direction == right {
        &:last-child {
          margin-left: 0;
          padding-left: 0;
        }
        &:first-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  }
}

// breakpoints 
@mixin breakpoint($point) { 

  $phone-width: $tablet-width - 1px; // when phone ends

  @if $point == desktop { 
    @media (min-width: $desktop-width) { @content; }
  }
  @else if $point == laptop {
    @media (min-width: $laptop-width) and (max-width: $desktop-width - 1px)  { @content; }
  }
  @else if $point == laptopUp {
    @media (min-width: $laptop-width)  { @content; }
  }
  @else if $point == laptopDown {
    @media (max-width: $laptop-width - 1px)  { @content; }
  }
  @else if $point == tabletUp {
    @media (min-width: $tablet-width)  { @content; }
  }
  @else if $point == tabletDekstop {
    @media (min-width: $tablet-width) and (max-width: $desktop-width - 1px)  { @content; }
  }
  @else if $point == tablet {
    @media (min-width: $tablet-width) and (max-width: $laptop-width - 1px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: $phone-width) { @content; }
  }
}


// absolute position
@mixin absolute ($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

// fixed position
@mixin fixed ($top: auto, $right: auto, $bottom: auto, $left: auto) { 
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: fixed;
}

// text truncate
@mixin text-truncate { 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// animations
@mixin animation($animation-name, $animation-duration,  $animation-delay, $animation-timing) {
  animation-name: $animation-name;
  animation-duration: $animation-duration;
  animation-duration: $animation-delay;
  animation-fill-mode: both;
  animation-timing: $animation-timing;
}


