/*! Settings */

// desktops
$desktopWidth: 1200px; // when desktops starts
$desktopLayoutBase: 150%; // general font size and layout spacing

// laptops
$laptopWidth: 960px; // when laptops starts
$laptopFontBaseSize: 130%; // general font size and layout spacing

// tablets
$tabletWidth: 768px ; // when tablet starts
$tabletFontBaseSize: 120%; // general font size and layout spacing

// phones
$phoneFontBaseSize: 120%; // general font size and layout spacing

// layout max point
$layoutMaxPoint: 1300px; 

// base type
$font-weight: 300;
$line-height: 1.65;
$font-size: 80; // percentage value (16 * 112.5% = 18px)
$font-base: 16 * ($font-size/100); // converts our percentage to a pixel value

// paragraphs
$paragraph-vertical-whitespace: true; // vertical space after paragragh
$paragraph-spacing: fnGetSpacing(100); // paragraph spacing and indent value

// heading system
$headings-hierarchy: true;
$headings-in-two-sizes: false; 
$headings-same-size: false;

// icon font
$icon-fonts: null; // ex.1) $icon-fonts: (icon-name); ex.2) $icon-fonts: (icon-name1, icon-name2, icon-name3);

// font
$headingsFont: Sans; // Headings font | same as base font as default
$baseFont: sans-serif; // base font 
$headingsFontSpacing: fnGetSpacing(-4); // headings font spacing | same as base font as default
$baseFontSpacing: fnGetSpacing(0); // base font letter spacing 
$headingsFontWeight: bold; // headings font weight | same as base font as default
$baseFontWeight: 300; // base font weight
$baseFontColor: #000; // all regular text color 
$headingsFontColor: $baseFontColor; // headings font weight | same as base font as default

// links 
$linkColor: $baseFontColor; // all regular links color | default: $baseFontColor
$linkBorderColor: rgba(0, 0, 0, 0.05); // link border color | default: rgba(0, 0, 0, 0.05) | suggestion: $baseFontColor, $bodyBackground

// links when hover
$linkHoverColor: $baseFontColor; // link text color when hover | default: $baseFontColor
$linkHoverBorderPosition: fnGetSpacing(12); // position of the border | default: fnGetSpacing(10)
$linkHoverBorderSize: fnGetSpacing(5); // size of border | suggestion value: dashed
$linkHoverBorderColor: $baseFontColor; // border color | default: $baseFontColor
$linkHoverBorderStyle: solid; // border style

// links when active
$linkActiveColor: $baseFontColor; // color when clicking on link | default: $baseFontColor 

// input
$inputBorderSize: fnGetSpacing(5); // size of border | suggestion value: dashed
$inputBorderColor: #ccc; // border color | default: #ccc
$inputBorderStyle: solid; // border style
$inputBorderRadius: 2px; // border radius
$inputFocusBorderColor: #333; // border when focusing on input field | default: $inputBorderColor

// button 
$buttonBorderSize: fnGetSpacing(5); // size of border | suggestion value: dashed
$buttonBackground: transparent;
$buttonBorderColor: #999; // border color | default: #ccc
$buttonBorderStyle: solid; // border style
$buttonBorderRadius: 4px; // border radius
$buttonFocusBorderColor: $buttonBorderColor; // border when focusing on input field | default: $inputBorderColor

// button when hover
$buttonHoverColor: #fff;
$buttonHoverBackground: #000;
$buttonHoverBorderSize: fnGetSpacing(5);
$buttonHoverBorderStyle: solid;
$buttonHoverBorderColor: #111;

// button when active
$buttonActiveBackground: #555;

// tables
$tableBorderColor: #eee;
$tableBorderStyle: solid;
$tableBorderSize: fnGetSpacing(5);

// animation speed
$animationDuration: 500ms; // animation speed | when page loads animations

// hover speed
$hoverTransitionSpeed: 500ms; // transistion speed | when hover over something animations

/*! Advanced settings */

// responsive breakpoint for phone
$phoneWidth: $tabletWidth - 1px; // when phone ends

// typeScale unit
$type-scale-unit-value: rem; 
